body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    color: #333;
    text-align: center;
}

#countdown-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3vw; /* Adjusted for better responsiveness */
    border-radius: 1.5vw;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
}

#countdown-title {
    font-size: 4vw; /* Responsive font size */
    margin-bottom: 2vw;
}

#countdown {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping as needed */
    justify-content: center;
    background: #fff;
    border-radius: 1.5vw;
    padding: 2vw; /* Adjusted padding */
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.1);
}

#countdown span {
    font-size: 5vw; /* Responsive font size */
    margin: 1vw; /* Adjusted margin for spacing */
    min-width: 14vw; /* Ensure enough space for each unit */
    text-align: center;
}

@media (max-width: 600px) {
    #countdown span {
        font-size: 3.5vw; /* 进一步减小字体大小 */
    }
    #milliseconds {
        font-size: 3vw; /* 对毫秒进行特定的字体大小调整 */
    }
}


